*{
  margin: 0;
  padding: 0;
  border-radius: 10px;
  font-family: "楷体";
  font-size: 25px;
}
/* body{
  background: url('images/huanle.jpg') no-repeat center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-size:100% 100%;
} */
body{  
  background:url(../images/mountain.jpg) no-repeat;
  /* width: 100%;
  height: 100%;
  position: fixed; */
  background-size:100% 100%;
  /* filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
  -moz-background-size:100% 100%;  
      background-size:100% 100%;   */
  }
.first{
  /* position: relative; */
  width: 400px;
  height: 200px;
  border: 10px solid rgb(162, 201, 21);
  text-align: center;
  margin: 150px auto;
  padding: 100px;
}
.first #k1, #k2{
  border: 1px solid rgb(82, 194, 214);  
  background-color: rgb(82, 194, 214);
  width: 300px;
  height: 40px;
  margin: 10px;
  text-align: center;
  line-height: 40px;
}
.first #k3{
  background-color: #fff;
  width: 250px;
  height: 40px;
  margin: 10px;
}
p{
  font-size: 35px;
  color: rgba(202, 60, 25, 0.801);  
}